<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../style/style2.css">
    </head>
    <body background="">
        <div style="width:80%;margin:10px auto">
        <div class="small_box">
            <h1 style="color:rgb(255, 82, 47)">Add new Product</h1>
            <form method="post" action="/add_product_handle" enctype="multipart/form-data" style="color:black">
                <label for="masp"> Ma san pham:</label> <input type="text" name="masp"> <br><br>
                <label for="tensp"> Ten:</label> <input type="text" name="tensp"> <br><br>
                <label for="price">Price: </label><input type="text" name="price" > <br><br>
                <label>Category: </label>
                <select name="category" id="">
                    <option value="household">household</option>
                    <option value="vegetable">Vegetable&Fruit</option>
                    <option value="kitchen">Kitchen</option>
                    <option value="beverage">Beverage</option>
                    <option value="petfood">Pet Food</option>
                </select><br><br>
                <div>
                    Select your profile picture:
                    <input type="file" name="product_img" />
                </div>
                <div>
                    <input type="submit" name="btn_upload_profile_pic" value="Upload" />
                </div>
            </form>
        </div>
    </div>
    </body>
    
</html>