<!DOCTYPE html>
<html>
    <head>
        <title>footer</title>
        <link rel="stylesheet" href="../style/style.css">
       <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="footer">
            <div class="newletter">
                <div class="newletter_left">
                    <h3>Sign Up For Our Newsletter</h3>
                </div>
                <div class="newletter_right">
                    <form action="">
                        <input type="email" placeholder="email">
                        <input type="submit">
                    </form>
                </div>
            </div>
            <div class="main_infor">
                <div class="main_infor_table">
                    <div>
                    <table >
                        <tr>
                            <th>Information</th>
                            <th>Policy Information</th>
                            <th>What In Stores</th>
                        </tr>
                        <tr>
                            <td><i class='bx bx-chevron-right'></i><a href="#">Event</a></td>
                            <td><i class='bx bx-chevron-right'></i><a href="#">FAQ</a></td>
                            <td><i class='bx bx-chevron-right'></i><a href="#">Pet Food</a></td>
                        </tr>
                        <tr>
                            <td><i class='bx bx-chevron-right'></i><a href="#">About us</a></td>
                            <td><i class='bx bx-chevron-right'></i><a href="#">Privay Policy</a></td>
                            <td><i class='bx bx-chevron-right'></i><a href="#">Frozens Snack</a></td>
                        </tr>
                        <tr>
                            <td><i class='bx bx-chevron-right'></i><a href="#">Best Deal</a></td>
                            <td><i class='bx bx-chevron-right'></i><a href="#">Term Of Deal</a></td>
                            <td><i class='bx bx-chevron-right'></i><a href="#">Kitchen</a></td>
                        </tr>
                        <tr>
                            <td><i class='bx bx-chevron-right'></i><a href="#">Services</a></td>
                            <td></td>
                            <td><i class='bx bx-chevron-right'></i><a href="#">Branded Foods</a></td>
                        </tr>
                        <tr>
                            <td><i class='bx bx-chevron-right'></i><a>Short Codes</a></td>
                            <td></td>
                            <td><i class='bx bx-chevron-right'></i><a>Households</a></td>
                        </tr>
                    </table>
                </div>
                <div class="connect">
                    <h1 style="color:red">Connect With Us</h1>
                    <a href="" class="facebook"><i class='bx bxl-facebook-circle' ></i></a>
                    <a href="" class="twitter"><i class='bx bxl-twitter' ></i></a>
                    <a href="" class="google"><i class='bx bxl-google' ></i></a>
                    <a href="" class="ig"><i class='bx bxl-instagram' ></i></a>
                </div>
            </div>
                <hr>
                <p>© 2016 Grocery Store. All rights reserved | Design by<a href="https://w3layouts.com/"> W3layouts</a></p>
            </div>
        </div>
    </body>
</html>