<!DOCTYPE html>
<html>
    <head>
        <title>tuan</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../style/style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <header>
            <div class="header fixed">
                <div class="header_title"><a href="">SHOPPING ONLINE</a></div>
                <div class="header_search">
                    <form action="/search" method="get">
                        <input type="text" name="keySearch" placeholder="search product" required>
                        <input type="submit" value="search">
                    </form>
                </div>
                <div class="header_product_list">
                    <form action="/viewCart" method="get">
                        <input type="submit" value="View Your Cart "><i class='bx bxs-cart'></i>
                    </form>
                </div>
                <div class="header_right">
                   <i class='bx bx-user'></i><i class='bx bx-caret-down' ></i>
                   <div class="dropdown_menu" style="display: block;">
                    <ul style="list-style-type: none;">
                        <li ><a href="/login">Login</a></li>
                        <li><a href="/sign_up">Sign Up</a></li>
                     </ul>
                </div>
                </div>
                
                <div class="header_right1">
                    <a href="" >CONNECT</a>
                </div>
                
            </div>
           
        </header>
    </BODY>
</html>