<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../style/style.css">
    </head>
    <body>
            <div class="nav">
                <div class="nav1">
                    <a href="/household">Household</a>
                </div>
                <div class="nav1">
                    <a href="/veg">Vegetable&Fruit</a>
                </div>
                <div class="nav1">
                    <a href="/kitchen">Kitchen</a>
                </div>
                <div class="nav1">
                    <a href="/beverage">Beverage</a>
                </div>
                <div class="nav1">
                    <a href="/pet">Pet food</a>
                </div>
        </div>
    </body>
</html>